#overboard{
  margin-left:25%;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#overlay {
  background-color: orange;
}
#board {
  width: 600px;
  height: 600px;
}

#board div{
  width: 200px;
  height: 200px;
  float:left;
  outline: 1px solid #000000;
}
#board div:hover {
  
}
.crossBox {
  background-color: red;
  font-size: 160px;
  text-align: center;
  font-family:sans-serif;
}

.knotBox {
  background-color: blue;
  font-size: 160px;
  text-align: center;
  color:white;
  font-family:sans-serif;
}
#player1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -128px;
}
#player2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 276px;

}
#player1score {
  position:absolute;
  margin-left: -200px;
  text-align:center;
  margin-top:20px;
}
#player2score {
    position:absolute;
    margin-left: -200px;
    text-align:center;
    margin-top:60px;
}
