#overboard{
  margin-left:25%;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#overlay {
  background-color: orange;
  position:absolute;
  z-index: 1;
  .slider
	overflow-y: hidden;
  height:100%;
  width: 100%;
}
.goup {
  height: 0%;
  animation-name: slide-up;
  animation-timing-function: linear;
  animation-duration: 3s;
}
@keyframes slide-up {
    0%   {height: 100%;}
    20%  {height: 80%;}
    40% {height: 60%;}
    60% {height: 40%;}
    80% {height: 20%;}
    100% {height: 0%;}

}
#title {
  text-align: center;
}
#board {
  width: 600px;
  height: 600px;
}

#board div{
  width: 200px;
  height: 200px;
  float:left;
  outline: 1px solid #000000;
}
#board div:hover {
  background-color:black;
}
.crossBox {
  background-color: red;
  font-size: 160px;
  text-align: center;
  font-family:sans-serif;
}

.knotBox {
  background-color: blue;
  font-size: 160px;
  text-align: center;
  color:white;
  font-family:sans-serif;
}
#player1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -17%;
  z-index: 2;
}
#player2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 14%;
  z-index: 2;

}
#player1score {
  position:absolute;
  margin-left: -200px;
  text-align:center;
  margin-top:20px;
}
#player2score {
    position:absolute;
    margin-left: -200px;
    text-align:center;
    margin-top:60px;
}
#name1 {
  position: absolute;
margin-left: -16vw;
margin-top: 0vw;
}

#name2 {
  position: absolute;
margin-left: 58vw;
margin-top: 0vw;
}
#setNames {
  z-index: 2;
  margin-top:20em;
  margin-left: 30.5em;
  position: relative;
}

#reset {
  margin-top: .5em;
margin-left: 50em;
margin-right: auto;
display: block;
position: absolute;
}
